body{
    text-align: center;
}

#p1{
    background-color:rgba(102, 255, 0, 0.233) ;
    margin: 10px;
    border-width: 2px;
    border: black;
    border-radius: 5px;
    border-style: solid;
}

#p1_style{
    background-color: rgba(10, 255, 2, 0.479);
    border: black;
    border-radius: 5px;
    border-style: ridge;
    padding-bottom: 10px;
}

#p2{
    background-color:rgba(0, 255, 255, 0.13) ;
    margin: 10px;
    border-width: 2px;
    border: black;
    border-radius: 5px;
    border-style: solid;
}

#p2_style{
    background-color: rgba(0, 255, 213, 0.377);
    border: black;
    border-radius: 5px;
    border-style: ridge;
    padding-bottom: 10px;
}

#get_p1{
    background-color: rgb(43, 255, 0);
    height: 5%;
    color: black;
    font-weight: bold;
}

#get_p2{
    background-color: rgb(0, 162, 255);
    height: 5%;
    color: black;
    font-weight: bold;
}

